/* General Body Styling */
body {
    background-color: #000000;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
/*General Header1 Styling */
h1 {
    color: #1372F6;
    font-size: 3em;
    text-decoration: none;
    text-align: center;
}
/* General Header2 Styling */
h2 {
    color: #ffffff;
    font-size: 2.5em;
    margin: 0;
    padding: 0;
    text-align: center;
}
/* Header Div Text Styling */
#header{
    font-size: 10vw;
    text-align: center;
    height:10vh;
    color: #ffffff;
    background: #000000;
    font-family: 'Niconne', cursive, sans-serif;
    font-weight: 700;
    text-shadow: 5px 5px 0px #5811fd, 
                 10px 10px 0px #f868e3, 
                 15px 15px 0px #f868e3, 
                 20px 20px 0px #f868e3, 
                 25px 25px 0px #8d4bdd, 
                 30px 30px 0px #8d4bdd, 
                 35px 35px 0px #054090, 
                 40px 40px 0px #054090, 
                 45px 45px 0px #054090;
}
/* General Paragraph Styling */
p {
    text-align: center;
    font-family: "Helvetica", sans-serif;
    font-size:2.5rem;
    color:#8d4bdd
}
/* General Anchor Styling */
a {
color: #09ff00;
font-family: 'Niconne', cursive, sans-serif;
font-size: 2rem;
text-align: center;
text-shadow: 2px 2px 2px #ffffff;
}
/* General Unordered List Styling */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
/* Style the list items */
ul li { 
    padding: 10px;
    /* Add other styles as needed */
    color: #00ffff;
}
/* Style the links within the list items */
ul li a { 
    color: #09ff00;
}
/* Image Styling */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    border: 10px;
    border-radius: 10px;
    padding: 10px;
}

/* Gallery Styling */
#gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
/* Gallery Image Styling */
#gallery img{
    display:grid 20px;
    width: 30%;
    border-radius: 10px;
    padding: 10px;
    border: 10px;
}
/* General Footer Styling */
footer{
    text-align: center;
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    position: static;
    bottom: 0;
    width: 100%;
}
/* skip-link styling */
.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background-color: #000000;
    color: #09ff00;
    padding: 10px;
    z-index: 100;
    transition: top 0.3s;
}
/* Example of focus pseudo-class */
.skip-link:focus {
    top: 0;
}
/* Example of hover pseudo-class */
a:hover {
    color: #ff0000;
    text-decoration: underline;
}
/* Style every second list item */
ul li:nth-child(2n) {
    background-color: #000000;
    color: #ff03d5;
}